ProjectClient/web/WEB-INF/wsdl/localhost_8080/ProjectServer/LoginAd.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://viva.com/" xmlns:ns1="http://model.viva.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://viva.com/">

<xs:import namespace="http://model.viva.com/" schemaLocation="http://localhost:8080/ProjectServer/LoginAd?xsd=2"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginCust" type="tns:loginCust"/>

<xs:element name="loginCustResponse" type="tns:loginCustResponse"/>

<xs:element name="loginDguy" type="tns:loginDguy"/>

<xs:element name="loginDguyResponse" type="tns:loginDguyResponse"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="mail" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="ns1:Admin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginDguy">
<xs:sequence>
<xs:element name="d_uname" type="xs:string" minOccurs="0"/>
<xs:element name="d_pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginDguyResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginCust">
<xs:sequence>
<xs:element name="c_uname" type="xs:string" minOccurs="0"/>
<xs:element name="c_pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginCustResponse">
<xs:sequence>
<xs:element name="return" type="ns1:Customer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>